{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-heading ">
        <h2>{{ announce.title }}</h2>
<ul class='list-unstyled'>
    <li>
        <a href="{{ path('announces_list') }}">Retour à la liste</a>
    </li>

</ul>
    </div>
<div class="row  panel panel-default panel-show">
        <div class="col-md-6">
            <table class="table">

                <tbody>
                    <tr>
                        <th>Prix</th>
                        <td>{{ announce.price ~ ' €' }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de pièces</th>
                        <td>{{ announce.numberOfRooms }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ announce.description }}</td>
                    </tr>

                   
                </tbody>
            </table>
        </div>
        {# fin du panel default #}
        <div class=" col-md-5 col-md-offset-1 picture">
           
            <img class='picture' src="{{ vich_uploader_asset(announce, 'pictureFile') }}">
                
        
        </div>
    </div>
    
{% endblock %}