<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('Modern-King.ttf') }}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Paytone+One">
            <link href="https://fonts.googleapis.com/css?family=Courgette|Philosopher" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% include 'layout/header.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>